/* red-hat-text-500 - latin */
@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/red-hat-text-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/red-hat-text-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-text-regular - latin */
@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/red-hat-text-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/red-hat-text-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-text-700 - latin */
@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/red-hat-text-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/red-hat-text-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-300 - latin */
@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/aleo-v11-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/aleo-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/aleo-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/aleo-v11-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/aleo-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/aleo-v11-latin-300.svg#Aleo') format('svg'); /* Legacy iOS */
}

/* aleo-regular - latin */
@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/aleo-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/aleo-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/aleo-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/aleo-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/aleo-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/aleo-v11-latin-regular.svg#Aleo') format('svg'); /* Legacy iOS */
}
/* aleo-700 - latin */
@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/aleo-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/aleo-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/aleo-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/aleo-v11-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/aleo-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/aleo-v11-latin-700.svg#Aleo') format('svg'); /* Legacy iOS */
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html{
    box-sizing: border-box;
    position: relative;
    min-width: 1440px;
    height: 3500px;
    background: #FFFFFF;
}
*,*::before, *::after{
    box-sizing: inherit; //наследовать от родителя
}

/*header style start*/

.header__wrapper{
    align-items: center;
    height: 90px;
    background: rgba(242, 120, 92, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}

.header__item{
    margin-right: 42px;
}

.header__link{
    list-style-type: none;
    font-family: Red Hat Text;
    font-size: 16px;
    height: 21px;
    color: white;
    text-decoration: none;
}

.header__link:hover,.header__link:focus, .header__link:active{
    opacity: .75;
}

.header__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 120px;
    height: 100%;
}

.header__logo-link{
    text-decoration: none;
    color: white;
    font-size: 32px;
}

.header__frame1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    margin-right: 120px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.header__frame1__item{
    font-family: 'Red Hat Text';
    font-size: 26px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #FFFFFF;
}

/*header style end*/

/*preview styles start*/

.preview{
    height: 100vh;
    background: url("../images/review-bg.jpg") no-repeat center;
    background-size: cover;
    font-family: 'Aleo';
    font-style: normal;
    padding-top: 122px;
    padding-left: 120px;
    padding-right: 428px;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    min-width: 1440px;
}

.preview__subtitle{
    margin-top: 20px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 46px;
}

.rectangle{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    padding-bottom: 25px;
    padding-right: 40px;
}

.rectangle_text{
    padding: 32px 280px 32px 41px;
    align-items: start;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    color: #F2785C;
}

.main__frame2{
    position: absolute;
    margin-top: 30px;
    align-items: start;
    padding: 14px 33px 14px 33px;
    margin-bottom: 25px;
    width: 228px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: #0D606F;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

/*preview styles end*/

/*3 Steps styles start*/
.Step3{
    max-width: 1440px;
}

.Step3__wrap{
    min-width: 1177px;
    height: 30vh;
    margin-top: 80px;
    padding-left: 132px;
}

.Step3__title{
    margin-left: 400px;
    font-weight: 500;
    line-height: 53px;
    font-size: 40px;
    color: #F2785C;
}

.Step3__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 204px;

}

.Step3__card__wrap{
    max-width: 100px;
    height: 100px;
    background: #F2785C;
    border-radius: 16px;
    margin-top: 40px;
    margin-left: 48px;
    margin-bottom: 30px;

}
.cycle{
    padding: 28px 25px 27px;
}
.calculate{
    padding: 24px;
}
.plain{
    padding: 28px 20px 27px;
}
.Step3__card__title{

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

/*3 Steps styles end*/

/*Destination styles start*/

.destination__title__container{
    padding-top: 151px;
    margin-left: 500px;
    margin-bottom: 46px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}
.slider{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
}
.Japan{
    display: block;
    margin: auto;
}
.Spain{
    border-radius: 16px;
}
.USA{
    border-radius: 16px;
}
.img_png{
    margin-right: 60px;
}

.slider__line{
    height: 800px;
    width: 2520px;
    display: flex;
    transform: translate3d(-550px, 0px, 0px);
    position: relative;
    left: 0px;
    transition: all ease 1s;
}

.buttons{
    margin-top: 24px;
    margin-left: 720px;
}

.central{
    width: 20px;
    height: 20px;
    border: none;
    background: #F2785C;
    border-radius: 50%;
}
.prev,.next{
    width: 20px;
    height: 20px;
    border: none;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
}
.prev:hover,.prev:focus,.prev:active{
    opacity: .75;
}
.next:hover,.next:focus, .next:active{
    opacity: .75;
}
.central:hover,.central:focus, .central:active{
    opacity: .75;
}

/*Destination styles end*/

/*Stories styles start*/

.stories{
    margin-top: 80px;
    height: 1300px;
    background: url("/assets/images/Rectangle 27.png") no-repeat center;
    background-size: cover;
}
.stories__title__wrap{
    background: white;
}

.stories__wrap{
    background: rgba(255, 255, 255, 0.7);
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 120px;
}

.stories__title{
    position: relative;
    padding-left: 552px;
    padding-bottom: 80px;
    font-family: 'Red Hat Text';

    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.stories__nav{
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    padding-top: 40px;
    font-family: 'Aleo';
    font-weight: 400;
    color: #0D606F;
    font-size: 35px;
    line-height: 42px;
}

.first{
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: 40px;
    align-items: center;
}
.first__title{
    margin-bottom: 24px;
}
.img__first{
   grid-area: auto;
}

.first__info{
    font-size: 20px;
    line-height: 24px;
}

.read__more{
    font-weight: bold;
    color: #0D606F;
}

/*Stories styles end*/

/*Footer styles start*/

.footer{
    margin-top: 30px;
    padding-bottom: 30px;
    margin-left: 590px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #F2785C;
}

/*Footer styles end*/


